<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="assets/icons/logo.png" width="100%" height="40" alt="logo of the image">
  </a>
  <button class="navbar-toggler  collapsed" type="button" data-toggle="collapse" data-target="#navbar"
    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">Registeration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/films']" routerLinkActive="active">Films</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/series']" routerLinkActive="active">Séries</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <input class="form-control mr-sm-2" type="search" placeholder="Ex: Mind Hunter" aria-label="Search" name="search"
        [ngModel]="search">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Rechercher</button>
        <button  mat-button [matMenuTriggerFor]="menu">    
          <img
          src="https://occ-0-4345-3647.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABRGTK96GBeqNw5zzYXnoa8oVjSjhuk7SuseuKTmgEKwpcCB59994UWb6wd7d1WONZOuzJwbLNpzG5Okfo4rSDLg.png?r=ee6"
          alt="avatar"></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item><a [routerLink]="['/']" >Home</a></button>
          <button mat-menu-item><a [routerLink]="['/login']">Login</a></button>
          <button mat-menu-item><a [routerLink]="['/register']">Registeration</a></button>
          <button mat-menu-item><a [routerLink]="['/films']">Films</a></button>
          <button mat-menu-item><a [routerLink]="['/series']">Series</a></button>
        </mat-menu>
    </form>
  </div>
</nav>